@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500;700&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    -ms-overflow-style: none;
    /* Internet Explorer 10+ */
    scrollbar-width: none;
    /* Firefox */
}

body::-webkit-scrollbar {
    display: none;
    /* Safari and Chrome */
}